.toptitle {
    background-color: skyblue;
    text-align: center;
    padding: 20px;
    margin: 0;
}

/* サイドバーのスタイル */
.sidebar {
    float: left;
    width: 25%; /* サイドバーの幅 */
    padding: 20px;
    background-color: #f0f0f0; /* 背景色 */
    text-align: left; /* テキストを左寄せにする */

}
.sidebar .score-gakusei-link ul.sub-menu {
    margin-top: 10px; /* 任意のスペース */
    margin-left: 15px;
}

.sidebar .score-seiseki-link ul.sub-menu {
    margin-top: 10px; /* 任意のスペース */
    margin-left: 15px;
}

.sidebar .score-kamoku-link ul.sub-menu  {
    margin-top: 10px; /* 任意のスペース */
    margin-left: 15px;
}


.sidebar h3 {
    margin-bottom: 10px;
    font-size: 18px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.sidebar ul li a {
    text-decoration: none;
    color: #333; /* リンクの色 */
}

.sidebar ul li a:hover {
    color: #555; /* マウスオーバー時の色 */
}

/* メインコンテンツのスタイル */
.main-content {
    margin-left: 25%; /* サイドバーの幅に合わせて調整 */
    padding: 20px;
}

/* メニュー項目のスタイル */
.menu {
    display: flex;
    justify-content: center; /* 中央揃え */
    margin-top: 10px;
}

.menu-item {
    margin: 10px;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    color: #333;
    transition: background-color 0.3s ease;
}

.menu-item a {
    display: block;
    padding: 10px;
    background-color: #f4f4f4; /* メニューの背景色 */
    color: #333; /* メニューテキストの色 */
    text-decoration: none;
}


.menu-item a:hover {
    background-color: #ddd; /* マウスオーバー時の背景色 */
}

/* 学生管理のスタイル */
.student-management {
    border: 2px solid red;
}

/* 成績管理のスタイル */
.score-management {
    border: 2px solid green;
}

/* 科目管理のスタイル */
.subject-management {
    border: 2px solid blue;
}

/* フッターのスタイル */
footer {
    background-color: #d3d3d3; /* フッターの背景色 */
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer p {
    margin: 0;
    color: #333;
    font-size: 14px;
}

/* ページ全体のスタイル */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    text-align: center;
}


/* フォームのスタイル */
.form-label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #555;
}

.form-control {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#filter {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    background-color: #ffffff;
    align-items: center;
}

#filter .col-4 {
    width: calc(33.333% - 20px);
}

#filter .col-2 {
    width: calc(16.666% - 20px);
}

#filter-button {
    width: 100%;
    padding: 10px 0;
    background-color: #007bff;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#filter-button:hover {
    background-color: #0056b3;
}

label {
    margin-top: 10px;
}

#filter .col-4, #filter .col-2 {
    padding-left: 0;
    padding-right: 0;
}

#filter .form-label {
    text-align: left;
    margin-bottom: 4px;
}


/* スタイル全体 */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
}

h1.toptitle {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
    background-color: #cceeff;
    padding: 20px;
}

h2 {
    font-size: 20px;
    color: #333;
    margin: 20px 0;
}

h3 {
    font-size: 18px;
    color: #666;
    margin: 10px 0;
}

/* コンテナ */
.container {
    width: 80%;
    margin: 0 auto;
}

/* メインコンテンツ */
.test_search_form {
    margin-left: 220px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.centered-heading {
    font-size: 28px;
    text-align: center;
}

.test_search_form form {
    margin-bottom: 20px;
}

.test_search_form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.test_search_form select,
.test_search_form input[type="text"],
.test_search_form input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.test_search_form input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

.test_search_form input[type="submit"]:hover {
    background-color: #0056b3;
}

.input_val_error, .none_list_error {
    color: red;
    font-weight: bold;
}

p {
    font-size: 14px;
    color: #666;
}

/* ログイン 画面*/
.login {
  width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[name="id"],
input[name="password"] {
  width: 93%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

label[for="chk_d_ps"] {
	display: block;
    text-align: center;
}

input[name="login"] {
  display: block;
  margin: auto;
  width: 40%;
  padding: 10px;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

